<% provide(:title, @user.email) %>

<div class="row">
  <aside class="col-md-8 col-md-offset-2">
    <section class="user_info">
      <h4>
        <%= @user.email %> 
      </h4>
    </section>
  </aside>
</div>

<h2> 
    この辺に本の一覧表示をする<br>
    <%= link_to @book.title, book_path(:book_id => 1) %> <br>
    あといいね機能など
</h2>


<h3> 
    <%= link_to "いいねした本一覧", "hoge" %>
</h3>
